<title>Vista Empleado</title>
  <div class="row">
          <table class="table">
              <thead>
                  <tr>
          <th>id</th> <th>Nombre</th><th>Apellido</th><th>Fecha</th><th>Telefono</th><th>Direccion</th><th>Correo</th><th>Clave</th>
                  </tr>
              </thead>
              <tbody>
                <% @empleados.each do |empleado| %>
                <tr>
                <td><%= empleado.id %></td>
                <td><%= empleado.nombreEmpleado %></td>
                <td><%= empleado.apellidosEmpleado %></td>
                <td><%= empleado.fechaNacimiento %></td>
                <td><%= empleado.telefonoEmpleado %></td>
                <td><%= empleado.direccionEmpleado %></td>
                <td><%= empleado.correoEmpleado %></td>
                <td><input type="password" value="<%= empleado.claveEmpleado %>" disabled></td>
                </tr>
                <%end%>
              </tbody>
          </table>
      </div>
